---
layout: page
title: "About"
description: "天命就是你一直期望去做的事情"
header-img: "img/about-bg.jpg"
multilingual: false
hide-in-nav: true
---
{% if page.multilingual == true %}
    {% include multilingual-sel.html %}
{% endif %}
<!-- Chinese Version -->

<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

{% if page.multilingual == true %}
<!-- Deutsch Version -->
    <div class="de post-container">
        {% capture about_de %}{% include about/de.md %}{% endcapture %}
        {{ about_de | markdownify }}
    </div>
{% endif %}

<!-- gittalk 评论区 -->
{% if site.gitalk %}
<div class="comment">
    {% include comments.html %}
</div>
{% endif %}
