---
layout: page
description: "24/7 全年常休 随机营业"
---

<link rel="stylesheet" href="/css/index.css">
<!-- card system -->
<div class="mybox">
    <div class="grid" style="padding: 0px;">  
        <div >
            <figure class="effect-romeo" style="margin: 0px;width: 60%; position:absolute; z-index:1; left:0px;" >
                <img src="img\in-post\aca\aca-2.jpg" alt="image_cs"  height="360" style="object-fit: cover;"/>
                <figcaption>
                <div style="padding-right: 20%; ">
                    <h2 style="margin-top: 10%;"><span>Ent</span>wicklung <br> Program<span>mierung</span></h2>
                    <p> Phyton, C, C++, C#, Java, JavaScript, MATLAB ... <br> 
                        Frontend und Backend, Server und Client <br> 
                        Traditionelle Entwicklung und Programmierung <br>
                        was ich machen kann
                    </p>
                </div>
                <a href="#">View more</a>
                </figcaption>     
            </figure>
        </div>
        <div class="mybox-mini">
            <div class="mybox-text" style="padding-top: 5%;">
            <h2> 开发 与 编程 </h2><br>
            <p style="margin: 0px;"> 开始写代码</p>
            </div>
        </div>
    </div>
</div>


<div class="mybox">
    <div class="grid" style="padding: 0px;">  
        <div >
            <figure class="effect-layla" style="margin: 0px;width: 60%; position:absolute; z-index:1; right:0px;" >
                <img src="img\in-post\bci-1.jpg" alt="img12"  height="360" style="object-fit: cover;"/>
                <figcaption>
                <div>
                    <h2> <span>machine </span> learning</h2>
                    <p>Theory to Practice, <br> Classification and Regression, <br> Natural Language Processing</p>
                </div>
                <a href="#">View more</a>
                </figcaption>     
            </figure>
        </div>
        <div class="mybox-mini-right">
            <div class="mybox-text-right">
            <h2>机器学习</h2>
            <p>也是写代码</p>
            </div>
        </div>
    </div>
</div>

<div class="mybox">
    <div class="grid" style="padding: 0px;">  
        <div >
            <figure class="effect-marley" style="margin: 0px;width: 60%; position:absolute; z-index:1; left:0px;" >
                <img src="img\in-post\aca\aca-1.jpg" alt="img12"  height="360" style="object-fit: cover;"/>
                <figcaption >
                <div >
                    <h2 style="padding-right: 10%;">Computer <span>Science</span><br>& <span>Engineering</span></h2>
                    <p style="padding-right: 10%;"> kann sagen, ich bin nicht nur theoretischer Informatiker, sondern auch technischer Informatiker</p>
                </div>
                <a href="#">View more</a>
                </figcaption>     
            </figure>
        </div>
        <div class="mybox-mini">
            <div class="mybox-text">
            <h2>计算机</h2>
            <p>计算机科学+计算机工程</p>
            </div>
        </div>
    </div>
</div>

<div class="mybox">
    <div class="grid" style="padding: 0px;">  
        <div >
            <figure class="effect-bubba" style="margin: 0px;width: 60%; position:absolute; z-index:1; right:0px;" >
                <img src="img\in-post\ser0\rse-2.jpg" alt="image_robo"  height="360" style="object-fit: cover;"/>
                <figcaption>
                <div>
                    <h2><span>Automatisierung</span>s<br>-technik</h2>
                    <p>vorher wusste niemand, dass dieses Ding so viel Mathematik erfordert.</p>
                </div>
                <a href="#">View more</a>
                </figcaption>     
            </figure>
        </div>
        <div class="mybox-mini-right">
            <div class="mybox-text-right">
            <h2>自动化控制</h2>
            <p>机器人学 以及<br>控制·观测·滤波器 = 数学·数学·数学<br>...</p>
            </div>
        </div>
    </div>
</div>

<div class="mybox">
    <div class="grid" style="padding: 0px;">  
        <div >
            <figure class="effect-lily" style="margin: 0px;width: 60%; position:absolute; z-index:1; left:0px;" >
                <img src="img\post-bg.jpg" alt="image_math"  height="360" style="object-fit: cover;"/>
                <figcaption>
                <div style="padding-right: 20%;">
                    <h2><span>Mathe</span>matik</h2>
                    <p style="font-size: 25px;">& Physik  </p><br>
                    <p> Mathematik war mal ein guter Freund von mir, ist es aber nicht mehr. Physik auch. :) </p>
                </div>
                <a href="#">View more</a>
                </figcaption>     
            </figure>
        </div>
        <div class="mybox-mini">
            <div class="mybox-text" style="padding-top: 5%;">
            <h2> 数 &emsp;  &emsp;  <br>&emsp;   理  </h2><br>
            <p style="margin: 0px;"> 这里会收录一些**深度涉及**数学以及物理学，<br>不那么工学/计算机的知识，<br> 比如线性代数，电磁学等等。 <br><br> 我练功不发自真心 :) </p>
            </div>
        </div>
    </div>
</div>

<div class="mybox">
    <div class="grid" style="padding: 0px;">  
        <div >
            <figure class="effect-milo" style="margin: 0px;width: 60%; position:absolute; z-index:1; right:0px;" >
                <img src="img\in-post\a-blog.jpg" alt="img12"  height="360" style="object-fit: cover;"/>
                <figcaption>
                <div>
                    <h2>Das <span>Leben</span></h2>
                    <p style="padding-left: 5%;" >Hat jedenfalls nichts mit dem Computer zu tun</p>
                </div>
                <a href="#">View more</a>
                </figcaption>     
            </figure>
        </div>
        <div class="mybox-mini-right">
            <div class="mybox-text-right">
            <h2>其他</h2>
            <p>反正和计算机无关</p>
            </div>
        </div>
    </div>
</div>


<!-- Pager -->
<!-- {% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %} -->
